*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    padding: 0px 10px ;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-family: sans-serif;
    
    
}
.navBar 
{
    display: flex;
    list-style:none;
    width: max-content;
    height: auto;
    gap: 38px;
    font-size: 18px;
    font-weight: normal;
    text-decoration:none;
    justify-content: space-between;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
    
}
ul.navBar li a{
    text-decoration:none;
    font-family: sans-serif;
    color: #202020;
    font-weight:600;
    font-style : normal;
    font-variant:normal;
    text-decoration:none solid rgb(255, 120, 45);
    padding: 40px 10px;
    align-items: center;
    border-width: none;
    }
ul.navBar li a:hover{
    color: #FF782D;
    background-color: #F5F5F5;
}
#dropdownButton:hover{
    color: #FF782D;
    background-color: #F5F5F5;
}
/* ============ */
.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownButton {
    font-family: sans-serif;
    color: #202020;
    font-size: 1.12rem;
    font-weight:600;
    font-style : normal;
    font-variant:normal;
    text-decoration:none solid rgb(255, 120, 45);
    border-width: none;
    background-color: white;
    border: none;
    width: 90px;
    height: 80px;
    /* padding: 20px; */
    }


#dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1rem;
    background-color: white;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
    z-index: 1000;
    text-align: left;
}


#dropdownMenu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 1rem !important;
}

#dropdownMenu li a:hover {
    background-color: white;
    color: #FF782D;
}

/* Show the dropdown menu when hovering over the parent div */
.dropdown:hover #dropdownMenu,
.dropdown:focus-within #dropdownMenu {
    display: block;
}
/* ================ */
div.userInfo{
    padding: 10px 24px;
    font-family: sans-serif, sans-serif;
    font-size: 18px ;
    font-weight:500;
    font-style:normal;
    font-variant:normal;
    border-style: solid;
    border-radius: 24px;
    border-width: 2px;
    border-color: #7b7b7b;
    text-align:start;
    text-indent:0px;
}
div.userInfo a {
    color: #202020;
    border-radius: 24px;
    border-width: 2px;
    border-color: #555555;
    text-decoration:none solid rgb(255, 120, 45);
}
div.userInfo a:hover{
    color: #FF782D;
}
div.search {
    padding: 6px 7px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #202020;
    background-color: white;
    align-items: baseline;
}
    
div.search:hover{
    color: #ff782d;
    border-color: #ff782d;
}
div.search:hover i {
    color: #ff782d;

}
/* homepath */
div.home-path{
    background-color: #F5F5F5;
    padding: 1.5rem;
    padding-left: 18rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0rem;
    gap: 1rem;
}
div.home-path a,span{
    text-decoration: none;
    font-family: sans-serif;
}
div.home-path a,i{
    color: #000000;
    font-size: 1.125rem;
}
/* ::content */
div.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 60px;
    gap: 5rem;
    padding-bottom: 4rem;
}
/* login */
div.Login{
    display: flex;
    flex-direction: column;
    width:fit-content;
    height: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    border: #7b7b7b solid 1px;
    border-radius: 20px;
    padding: 1rem;
}
form#login-form a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}
h1{
    font-family: Exo,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 1rem;
}
#login-form #login-username{
    width: 620px;
    height: 39px;
    border-radius: 5px;
    border: #7b7b7b solid 1px;
    margin-bottom: 1rem;
    padding-left: 10px;
    /* margin-top: 1rem; */
}
div.passwordWrapperLogin{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: #7b7b7b solid 1px;
    border-radius: 5px;
}
#login-form #login-password{
    width: 590px;
    height: 39px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
#login-form input:focus{
    outline: none !important;
}
#login-form label,#save{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #555555;
}

#login-form button{
    width: 600px;
    margin-top: 1rem;
    background-color: #d18a63;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.7rem;
}
/* registration */
div.registration{
    width: fit-content;
    height: 380px;
    display: flex;
    flex-direction: column;
    border: #7b7b7b solid 1px;
    border-radius: 20px;
    padding: 1rem;
}
#registration-form #email,#registerUsername{
    width: 620px;
    height: 39px;
    border-radius: 5px;
    border: #7b7b7b solid 1px;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
    padding-left: 10px;
}
div.container img{
    width: 20px;
    height: 20px;
}
div.passwordWrapperConfirm,div.passwordWrapper{
    display: flex;
    align-items: center;
    border: #7b7b7b solid 1px;
    border-radius: 5px;
}
div.passwordWrapperConfirm{
    margin-top: 1rem;
}
#registration-form button{
    width: 600px;
    margin-top: 1rem;
    background-color: #d18a63;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.7rem;
}
div.passwordWrapperConfirm input{
    width: 590px;
    height: 39px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
div.passwordWrapper input{
    width: 590px;
    height: 39px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
#registerPassword:focus ,#confirmPassword:focus, #email:focus, #registerUsername{
    outline: none;
}

/* Foooooooooooooter */
div.site-footer{
    display: flex; 
    justify-content: center;
    gap: 7rem;
    background-color: #F5F5F5;
    padding: 4rem 0rem 1.9rem 0rem; 
    /* align-items: center; */
    font-family: sans-serif;
}
div.site-footer div.footer-logo{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 109px;
}

div.footer-logo img{
    width: fit-content;
    height: fit-content;
}
div.footer-logo span{
    color: #555555;
    font-size: 1.12rem;
    font-weight: 400;
    padding-top: 2.5rem;
}
div.site-footer div h2{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 650;
    padding-bottom: 2.5rem;
}
div.site-footer div ul li a{
    text-decoration: none !important;
    color: #5a5757;
    font-size: 1.12rem;
    font-weight: 550;
    list-style: none !important;
}
div.site-footer div ul li a:hover{
    color:#ff782d ;
    cursor: pointer;
}
div.site-footer div ul{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    list-style: none !important;
    font-size: 1.12rem;
    /* font-weight: 730; */
}
div.site-footer div ul.socialIcon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}
footer.copyRight{
    padding: 1.5rem 0px;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    border-top: #d3d3d3 solid 1px;
    font-family: sans-serif;
}
footer.copyRight a{
    text-decoration: none;
    color: #111111;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: sans-serif;
}
footer.copyRight a:hover{
    color:#ff782d ;
    cursor: pointer;
}
/* ======== */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    /* padding: 15px; */
    border-radius: 50%;
    font-size: 18px;
}

#myBtn:hover {
    background-color:#eb976a ;
    cursor: pointer;
}
